body {
    background-color: #ae00ff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.centered-div {
    width: 400px; /* Adjust the width as needed */
    height: 600px; /* Adjust the height as needed */
    background-color: #6200ff; /* Adjust the background color as needed */
    text-align: center;
    line-height: 200px; /* Set to the height for vertical centering */
}